<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web3-transaction</title>
</head>
<body>
<table style=" width: 100%; border: 4px double black;">
    <tr>
        <td>
        <form action="/transaction" method="POST">
                Sender Name: <input type="text" name="senderName"/>
            <p>
                Sender Password: <input type="password" name="senderPass"/>
            <p>
                Count: <input type="text" name="count"/>
            <p>
            Name To: <input type="text" name="nameTo"/>
            <p>
                <input type="submit" value="Submit">
        </form>
        </td>
        <td style="border: 1px solid black; text-align: center">
            <a href="/registration">Registration</a>
        </td>
    </tr>
</table>
</body>
</html>